.keybind-manager-container {
    position: sticky;
    bottom: 0px;
    background: ghostwhite;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: auto;
}

.keybind-manager-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.keybind-container {
    margin: 10px;
}

.keybind-purpose {
    margin-right: 5px;
}

.transposes-header {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: max-content;
}

.transpose-helper-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 15px 5px 5px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;

    .bp5-slider {
        min-width: 12vw;
    }
}

.guide-link {
    float: left;
    margin-left: 8px;
}

.transpose-matrix-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vh;
    padding: 25px;
    flex-direction: row;
    align-content: flex-start;
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.15);
}

.transpose-matrix-empty {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    font-weight: 300;
    font-size: xx-large;
    color: darkslateblue;
}


.transpose-matrix-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.transpose-matrix-item {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    min-height: 65px;
    height: fit-content;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.transpose-matrix-item-no-data {
    border: dashed;
    border-color: lightgray;
}

.transpose-matrix-index {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 100;
}

.transpose-input {
    position: sticky;
    top: 5px;
    margin: 25px;
    max-width: 75vw;
    padding: 5px;
}

.sheet-viewer-transpose-input > .transpose-input {
    position: fixed;
    top: unset;
    bottom: 60px;
    margin: 25px;
    max-width: 75vw;
    padding: 5px;
}

#monitor-body {
    overflow: hidden;
}

.transposes-monitor {
    justify-content: space-evenly;
    width: 100%;
}

.bp5-toast-container.bp5-toast-container-top {
    position: fixed!important;
}

/* intended for transpose monitor window only */
.bp5-toast-container.bp5-toast-container-bottom {
    padding: 0
}

.bp5-toast-container-bottom > .bp5-toast {
    min-width: 100vw;
}

.version {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 12px;
    color: darkgray;
    margin-bottom: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.scroll-amount {
    width: 55px!important;
    margin-right: 5px;
}

.sheet-viewer-footer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3px;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sheet-viewer-footer > .transposes-monitor {
    width: 333px;
}

.transpose-monitor-sheet-viewer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sheet-viewer-footer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3px;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.transposes-monitor-sheet-viewer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.transposes-monitor-sheet-viewer > .transposes-monitor {
    justify-content: center;
    gap: 20px;
    width: unset;
}

#sheet-viewer-settings-button {
    position: relative;
    right: 5vw;
    cursor: pointer;
    color: gray;
}

#sheet-viewer-settings-button:hover {
    color: lightgray;
}

#sheet-viewer-settings-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    color: black;
    gap: 20px;
    z-index: -1;
}

#sheet-viewer-settings {
    .bp5-drawer {
        overflow-y: auto;
        -ms-overflow-y: auto;
    }

    .bp5-drawer-header {
        position: fixed;
        width: 100%;
        background: white;
    }
}

#file-display-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: fit-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.sheet-viewer-visibility-btn {
    color: gray;
}

.sheet-viewer-visibility-btn:hover {
    cursor: pointer;
    color: lightgrey;
}

#zoom-info {
    background: rgba(150, 150, 150, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
    color: whitesmoke;
}